body{
  background-image: url("../images/hogwartscastle.jpg");
}
#content h1{
  padding-top: 10%;
  font-size: 3.5rem;
}
img{
  width:10%;
}
button *{
    display: block;
    margin: 10px auto;
    background-color: lightgray;
    color: white;
    font-size: 20px !important;
    border-radius: 4px;
  }
  
  button:hover {
    transform: scale(1.1);
    border: 3px black solid;
    box-shadow: 0 0 1rem lightgrey;
    background-color: gray;
    color: black;
  }
  
  
  #content {
    font-family: 'IM Fell Double Pica SC', serif; 
    background-color:rgba(128, 128, 128, 0.6);
    position: relative;
    height: 600px;
    border: 5px lightslategray solid;
    border-radius: 25px;
    margin: 50px auto;
    text-align: center;
    box-shadow: 3px 3px 20px 6px #ccc !important;
    padding-bottom: 20px;
  }
  

  #question-area {
    padding-left: 10px;
    padding-right: 10px
  }

.col-md-8 {
  
  margin-left: 10px;
  margin-right: 10px;
  margin: auto;
}
  .message-content {
    padding-left: 10px;
    padding-right: 10px;
  }